.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;


}

.dialog {

}

.messages {
    padding: 10px;

}

.message {
    color: white;
}

.Navlink {
    color: burlywood;
    text-decoration: none;
}

